<h2>All Boats</h2>
<div class="center">
  <% @boats.each do |boat| %>
    Name: <%= boat.name %><br />
    Containers: <%= boat.amtcontainers %><br />
    Location: <%= boat.location %><br />
    <hr>
  <% end %>
</div>
